  {% set class = 'warning' %}

  {% if status == 'DELIVERED' %}
    {% set class = 'success' %}
  {% endif %}

  <div class="alert alert-{{ class }}" role="alert" style="margin: 30px 0;">
    <strong>{{ status }}</strong>
  </div>

  {% if valid %}
    <table class="table table-striped">
    <tbody>
    <tr>
      <td>Nomor resi</td>
      <td>{{ waybill_number }}</td>
    </tr>
    <tr>
      <td>Jenis layanan</td>
      <td>{{ service_code }}</td>
    </tr>
    <tr>
      <td>Tanggal pengiriman</td>
      <td>{{ waybill_date }}</td>
    </tr>
    <tr>
      <td>Berat kiriman</td>
      <td>{{ weight }} kg</td>
    </tr>
    <tr>
      <td>Nama pengirim</td>
      <td>{{ shipper_name }}</td>
    </tr>
    <tr>
      <td>Kota asal pengirim</td>
      <td>{{ shipper_city }}</td>
    </tr>
    <tr>
      <td>Nama penerima</td>
      <td>{{ receiver_name }}</td>
    </tr>
    <tr>
      <td>Alamat penerima</td>
      <td>{{ receiver_address1 }}, {{ receiver_address2 }}, {{ receiver_address3 }}, {{ receiver_city }}</td>
    </tr>
    </tbody>
  </table>

  <p><strong>Riwayat pengiriman</strong></p>
  <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
      <th>Tanggal</th>
      <th>Kota</th>
      <th>Keterangan</th>
    </tr>
    </thead>
    <tbody>
    {% for row in manifest %}
      <tr>
        <td>{{ row.manifest_date }} {{ row.manifest_time }}</td>
        <td>{{ row.city_name }}</td>
        <td>{{ row.manifest_description }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% endif %}
